@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

html {
    background-image: url(http://thorelrobin.fr/small_steps.png);
    background-repeat: repeat;
}

*{
    padding: 0px;
    margin: 0px;
}
div.back_glob{

    width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    /*border: 1px solid black;
    box-shadow: 1px 0px 15px #25b2d5 ;*/

}

input{
    width: 96%;
    margin-bottom: 20px;
    background: rgba(0,0,0,0.3);
    font-size: 13px;
    color: #fff;
    border-radius: 6px;
    margin-top: 20px;
}

div.back_header h1{
    color: #000000;
    letter-spacing:2px;
    text-align:center;

}
a{
    display: block;
    text-align: center;
    color: #000000;
}
.logo i {
    font-size: 70px;
    color: #21CCFC ;
    margin-bottom: 20px;
=======
>>>>>>> login
}




/*input[type=text], input[type=password]{
    font-size: 16px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #dddcc4 ;
    margin-top: 20px;
}
*/
input[type=submit]{
    filter: none;
    background-color: #4a77d4;
    height: 40px;


}

input[type=submit]:hover{
    color: #333333;
    cursor: pointer;
    margin-left: 5px;
}

input.form-group{

    /* border: 2px solid red;
     margin-top: 25px;*/

}

.form-group {
    height: 40px;
    /* padding: 5px;
   border: 2px solid red;*/
    margin-top: 40px;
    padding: 3px;
    text-align: center;

}
/* Responsive de width : 480 a 900px */
@media(max-width: 900px) /** Optimisation iPad **/
{
    .logo i {
        font-size: 70px;
        color: #21CCFC ;
        margin-bottom: 20px;
        margin-top: -47px;
    }

    div.back_glob {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 18%;
        /* border: 1px solid black;
        box-shadow: 1px 0px 15px #25b2d5;*/
    }


}

/* Responsive de width : 0 a 480px */
@media(max-width: 480px) /** Optimisation iPhone 6 **/ {

    .logo i {
        font-size: 70px;
        color: #21CCFC ;
        margin-bottom: 20px;
        margin-top: -47px;
    }
    div.back_glob {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 18%;
       /* border: 1px solid black;
        box-shadow: 1px 0px 15px #25b2d5;*/
    }

    .form-group {
        height: 70px;
        margin-top: 40px;
        padding: 3px;
        text-align: center;
    }

    input[type=submit] {
        filter: none;
        background-color: #4a77d4;
        height: 62px;    }

    a {
        display: block;
        text-align: center;
        color: #000000;
        font-size: 40px;
    }


}