<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/setupmywebsite/App/Views/smw-admin/css/style1.css">
    <meta charset="UTF-8">
    <title>Page de connexion</title>
</head>
<body>
<h1>SetUpMyWebSIte.com</h1>
    <div class="back_glob">
        <div class="back_header">
            LOGIN
        </div>
        <div class="back_form">
            <form method="post" action="">
                <input type="text" name="username" placeholder="username">
                <input type="password" name="pass" placeholder="password">
                <input type="submit" name="valid" value="login">
                <span  class="pwd">forgot <a href="#">password?</a></span>
            </form>
        </div>
    </div>
</body>
</html>